server:
  port: 80
cors:
  originPatterns: https://erizoka.github.io,http://localhost:8080,http://localhost:3000
file: 
  upload-dir: /temp/ws-sts/rest with springboot/UploadDir
security:
  jwt:
    token:
      secret-key: 53cr37
      expire-length: 3600000
spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/rest_with_spring_boot_erudio
    username: postgres
    password: admin
  jpa:
     hibernate:
       ddl-auto: none 
     properties:
        hibernate:
              dialect: org.hibernate.dialect.PostgreSQL92Dialect
              jdbc:
                lob:
                  non-contextual-creation: true
     show-sql: false
  servlet:
    multipart:
      enabled: true 
      file-size-threshold: 2KB
      max-file-size: 200MB
      max-request-size: 215MB
springdoc:
  pathsToMatch: 
  - /auth/**
  - /api/**/v1/**
  swagger-ui: 
     use-root-path: true
